* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(236, 31, 85);
    --text-color: #333;
}


html {
    font-family: "Poppins", sans-serif;
    background-color: #edededd2;
}

.main {
    margin: 0 auto;
    width: 480px;
    position: relative;
}

.header {
    text-align: center;
    margin-bottom: 16px;
}

.header > h5 {
    color: var(--primary-color);
    padding-top: 16px; 
    margin-bottom: 4px;  
    font-size: 15px;
}

.header > h3 {
    overflow: hidden;
    width: 320px;
    height: 30px;
    display: inline-block;
    color: #333;
    
}

.cd {
    margin: auto;
    width: 200px;
    display: flex;
}

.cd-thumb {
    width: 220px;
    padding-top: 100%;
    border-radius: 100rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 18px 0 8px 0;
  }

  .control .btn {
    color: #666;
    font-size: 22px;
  }

  .control .btn:hover {
    opacity: 0.7;
  }

.control .btn-play {
    padding: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 100rem;
}
.control .btn-back:active,
.control .btn-next:active {
    opacity: 0.8;
}

.control .icon-pause {
    display: none;
}

.main.playing .icon-pause {
    display: inline-block;
  }
  
.main.playing .icon-play {
    display: none;
  }

.progress { 
    margin: 16px 8px 16px;
    width: 100%;
  -webkit-appearance: none;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 10px;
    background-color: var(--primary-color);
    cursor: pointer; 
  }

.control > div {
    margin: 0 32px;
}


.control .btn.active {
    color: var(--primary-color);
  }

.dashboard {
    padding: 0 32px;
    border-bottom: 1px solid #ebebeb;
    top: 0;
    background-color: #fff;
    position: fixed;
    max-width: 480px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

}





.volume-control {
    display: flex;
    align-items: center;
}

.btn-volume-mute.active {
    display: none;
}

.volume-control .btn {
    font-size: 18px;
    width: 18px;
}

.btn-volume-mute {
    width: 18px;
}

.btn-volume-up.active {
    display: none;
}

.btn-volume-medium.active {
    display: none;
}

.volume {
    margin-left: 10px;
    background: linear-gradient(90deg, rgb(236, 31, 85) 60%, rgb(236, 31, 85) 60%);
    border-radius: 10px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    -webkit-appearance: none;
    height: 10px;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer; 
}


.progress-audio {
    display: flex;
    align-items: center;
}

.progress-audio span {
    color: var(--text-color);
}



.playlist {
    margin-top: 480px;
    margin-left: 14px;
    margin-right: 14px;
}

.song {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 5px; 
    background-color: #fff;
    padding: 16px 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

}

.song:active {
    opacity: 0.7;
}

.song.active {
    background-color: var(--primary-color)
}

.song.active .title {
    color: #fff;
}

.song.active .author {
    color: #fff;
}

.song.active .option {
    color: #fff;
}

.song .thumb {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    background-size: cover;
    margin: 0 12px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.song .author {
    color: var(--text-color);
}

.body {
    flex: 1;
    padding: 0 16px;
}

.song .option {
    padding: 0 16px;
    color: #999;
    font-size: 18px;
}